@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..."
                   aria-label="Tìm kiếm" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Tìm kiếm" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">3+</font>
                    </font>
                </span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Thông báo
                        </font>
                    </font>
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ngày 12 tháng 12 năm 2019</font>
                            </font>
                        </div>
                        <span class="font-weight-bold">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Một báo cáo mới hàng tháng đã sẵn sàng để tải về!</font>
                            </font>
                        </span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-success">
                            <i class="fas fa-donate text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ngày 7 tháng 12 năm 2019</font>
                            </font>
                        </div>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                $ 290,29 đã được gửi vào tài khoản của bạn!
                            </font>
                        </font>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ngày 2 tháng 12 năm 2019</font>
                            </font>
                        </div>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Thông báo chi tiêu: Chúng tôi đã nhận thấy chi tiêu cao bất thường cho tài khoản của bạn.
                            </font>
                        </font>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Hiển thị tất cả cảnh báo</font>
                    </font>
                </a>
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">7</font>
                    </font>
                </span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Tin nhắn
                        </font>
                    </font>
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Chào bạn </font>
                                <font style="vertical-align: inherit;">
                                    Tôi tự hỏi nếu bạn có thể giúp tôi với một vấn đề tôi đã
                                    gặp phải.
                                </font>
                            </font>
                        </div>
                        <div class="small text-gray-500">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Emily Fowler · 58m</font>
                            </font>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Tôi có những bức ảnh mà bạn đặt hàng tháng trước, bạn
                                    muốn chúng được gửi cho bạn như thế nào?
                                </font>
                            </font>
                        </div>
                        <div class="small text-gray-500">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Jae Chun · 1ngày</font>
                            </font>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Báo cáo tháng trước có vẻ tuyệt vời, tôi rất hài lòng với
                                    tiến độ cho đến nay, hãy tiếp tục làm tốt công việc!
                                </font>
                            </font>
                        </div>
                        <div class="small text-gray-500">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Morgan Alvarez · 2ngày</font>
                            </font>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Tôi có phải là một cậu bé ngoan không? </font>
                                <font style="vertical-align: inherit;">
                                    Lý do tôi hỏi là vì ai đó nói với tôi rằng mọi người nói
                                    điều này với tất cả những con chó, ngay cả khi chúng không tốt ...
                                </font>
                            </font>
                        </div>
                        <div class="small text-gray-500">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Gà chó · 2w</font>
                            </font>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Đọc thêm tin nhắn</font>
                    </font>
                </a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nhóm 280</font>
                    </font>
                </span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/user/erondu/60x60">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Hồ sơ
                        </font>
                    </font>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Cài đặt
                        </font>
                    </font>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Nhật ký đăng nhập
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Đăng xuất
                </a>
            </div>
        </li>

    </ul>
</nav>
