
@{
    Layout = null;
}
@Html.Partial("~/Views/Layout/Login/Header.cshtml")
<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="~/user/img/logo.png" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                @if (ViewBag.NotExist != null)
                {
                    if (ViewBag.NotExist == false)
                    {
                        <div class="alert alert-danger" role="alert">
                            Tài khoản không tồn tại
                        </div>
                    }
                }<!--Check account exist-->
                @if (ViewBag.RegisterSucess != null)
                {
                    <div class="alert alert-success" role="alert">
                        Đăng ký thành công. Bạn có thể đăng nhập
                    </div>
                }<!--Success sign up-->
                <form class="user" method="post" asp-controller="Login" asp-action="SignIn">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Nhập username..." name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" id="exampleInputPassword" placeholder="Mật khẩu" name="password">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>
                        </label>
                    </div>
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Đăng nhập">
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="/login/SignUp" class="footer-link">Create An Account</a>
                </div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Forgot Password</a>

                </div>
            </div>
        </div>
        <div class="login-box">
            <h2>Social Login Button</h2>
            <a href="#" class="social-button" id="facebook-connect"> <span>Connect with Facebook</span></a>
            <a href="#" class="social-button" id="google-connect"> <span>Connect with Google</span></a>
        </div>
        </div>

    </div>


</body>
@Html.Partial("~/Views/Layout/Login/JS.cshtml")
</html>